function preprocess(d) {
	let obj = {}
	for (key in d) {
		if (d[key] == "NA" || d[key] == "NULL") {
			obj[key] = null
			continue
		}
		if (!isNaN(d[key])) {
			obj[key] = +d[key]
			continue
		}
		obj[key] = d[key]
	}
	return obj
}

Promise.all([
	d3.csv("data.csv", preprocess)
]).then(([data]) => {

	// Data pre-processing
	// -------------------------------------------------------------------------
	
	console.log("data", data)


	// Configuration
	// ------------------------------------------------------------------------
	
	let width = 2000,	// main area width
		height = 600,	// main area height
		pad = {			// chart padding (outside main area)
			left: 30,
			right: 10,
			top: 10,
			bottom: 30
		}


	// Scales
	// -------------------------------------------------------------------------




	// Chart
	// -------------------------------------------------------------------------
	
	let svg = d3.select("#chart")
		.append("svg")
		.attr("width", pad.left + width + pad.right)
		.attr("height", pad.top + height + pad.bottom)

	let mainArea = svg
		.append("g")
		.attr("transform", `translate(${pad.left} ${pad.top})`)


	// Draw chart here
	
	


	// Axes
	
	

})

