let points = svg.selectAll(".point")
	.data(data)
	.enter()
	.append("circle")
		.attr("x", 0)
		.attr("y", 0)
		.attr("r", 5)
		.attr("fill", "steelblue")
		.attr("stroke", "none")
		.attr("fill-opacity", 1.0)
