---
title: ""
author: "Ilias Kalamaras"
output: pdf_document
---

```{r, setup, include = FALSE}
knitr::opts_knit$set(root.dir = "../")
knitr::opts_chunk$set(echo = FALSE)
```

```{r, include = FALSE}
library(tidyverse)
# source("src/load_data.R", local = knitr::knit_global())
```



